.scrollingTickerContainer {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border: solid;
}

.scrollingTickerContainer > img {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-left: 100px;
    animation: scrollingTickerContainer 5s linear infinite;
}

@keyframes scrollingTickerContainer {
    0%   { transform: translate(100%, 0); }
    100% { transform: translate(-100%, 0); }
}